button {
  background-color: var(--color-white);
  border: none;
  border-radius: var(--border-radius);
  letter-spacing: 0.4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all var(--transition-main);
}
button span {
  display: block;
  border-radius: 50%;
  height: 2rem;
  aspect-ratio: 1;
  background-color: var(--color-black);
}

.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-main);
  width: 100%;
}

.container-background {
  align-items: flex-end;
  justify-content: flex-end;
  aspect-ratio: 2.4/1;
  position: relative;
  padding-bottom: min(3rem, 5%);
  min-height: 25rem;
}
.container-background__text {
  position: absolute;
  top: 50%;
  width: min(18.75rem, 90%);
  margin-inline: min(3.75rem, 5%);
}

.black-container {
  max-width: var(--max-width-main);
  width: 100%;
  padding-block: var(--padding-containers);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.white-line {
  height: 2px;
  width: 100%;
  background-color: var(--color-white);
}

.icons {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-inline: 1rem;
  overflow: hidden;
  color: var(--color-white);
}
.icons-part {
  display: flex;
  gap: 0.5rem;
}
.icons-part h4 {
  font-size: 0.75rem;
}

a, h1, h2, h3, h4, h5, h6, p {
  text-decoration: none;
  font-weight: 400;
  overflow: hidden;
}

p {
  color: var(--color-light-grey);
  font-size: var(--font-size-14px);
  line-height: 1.4;
}

h1 {
  color: var(--color-white);
  font-size: clamp(1.5rem, 2.08vw, 2.5rem);
}

h2 {
  color: var(--color-light-grey);
  font-size: clamp(1rem, 1.25vw, 1.5rem);
}

h3 {
  color: var(--color-white);
  font-size: var(--font-size-14px);
  text-transform: uppercase;
  letter-spacing: 2px;
}

:root {
  --color-dark: #181818;
  --color-white: #ffffff;
  --color-light-grey: #C0C0C0;
  --color-black: #000000;
  --color-border: #E5E7EB;
  --color-light: #F9FAFB;
  --border-light: 1px solid var(--color-border);
  --font-primary: "Poppins" , sans-serif;
  --transition-main: 0.2s;
  --border-radius: 14px;
  --max-width-container: 90rem;
  --max-width-main: 136.25rem;
  --layer-main: 0;
  --layer-level1: 100;
  --layer-level2: 200;
  --font-size-14px: clamp(0.7rem, 1vw ,0.875rem);
  --padding-containers: clamp(3.25rem, 7.81vw, 6.25rem);
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/PoppinsRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  font-family: var(--font-primary), sans-serif;
}

.logo-link {
  display: flex;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--color-light-grey);
  }
  button:active {
    transform: scale(0.97, 0.97);
  }
  .header__inner-right a:hover::after {
    width: 100%;
  }
}
.header {
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.header__inner {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header__inner-right a {
  color: var(--color-white);
  position: relative;
}
.header__inner-right a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-white);
  transition: width 0.5s ease-out;
}
.header__inner-right button {
  padding: 0.5rem 1.25rem;
}
.header__inner-burger {
  display: none;
}

.main {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer {
  background-image: url("../Images/backgrounds/Aperture-Studios.png");
  padding-top: min(35%, 31.4rem);
  align-items: center;
  text-align: center;
}
.photographer h1 {
  font-size: clamp(2rem, 2.81vw, 3.375rem);
  line-height: 1.5;
}
.photographer p {
  margin-bottom: 1rem;
  margin-top: min(0.5rem, 0.8%);
  width: clamp(15rem, 70%, 36.25rem);
}
.photographer h3 {
  color: var(--color-light-grey);
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--padding-containers);
  width: 100%;
  text-align: center;
}
.about_us h2 {
  margin-block: 1rem 3rem;
  width: 90%;
}
.about_us__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-inline: 1rem;
}
.about_us__grid-card:nth-child(1) {
  background-image: url("../Images/aboutus/1.png");
}
.about_us__grid-card:nth-child(2) {
  background-image: url("../Images/aboutus/2.png");
}
.about_us__grid-card:nth-child(3) {
  background-image: url("../Images/aboutus/3.png");
}
.about_us__grid-card:nth-child(4) {
  background-image: url("../Images/aboutus/4.png");
}
.about_us__grid-card {
  max-width: 36rem;
  aspect-ratio: 1/1.04;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem;
}
.about_us__grid-card p {
  margin-block: 1rem;
  width: 100%;
}

.sunset {
  background-image: url("../Images/backgrounds/Sunset.png");
}

.monstera {
  background-image: url("../Images/backgrounds/Monstera.png");
}

.starfall {
  background-image: url("../Images/backgrounds/starfall.png");
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: var(--max-width-main);
}
.tools__right {
  background-image: url("../Images/backgrounds/tools-that-we-use.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1.36/1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: min(3rem, 5%);
}
.tools__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools__left p {
  width: min(26.66vw, 32rem);
}
.tools__left button {
  margin-top: min(5%, 2rem);
}
.tools__left h3 {
  color: var(--color-light-grey);
}

.past-clients h2 {
  margin-block: 1rem 3rem;
  width: 90%;
}
.past-clients__icons {
  margin-top: min(10%, 3rem);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.help {
  gap: 1rem;
}
.help h1 {
  width: 90%;
}

.footer {
  background-color: var(--color-black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__inner {
  padding-block: var(--padding-containers);
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  max-width: 75rem;
  gap: clamp(1rem, 5vw, 4rem);
}
.footer__inner-mobile-up {
  align-items: flex-start;
}
.footer__inner-left {
  display: flex;
  flex-direction: column;
  gap: min(10%, 1.5rem);
  width: 50%;
  align-items: flex-start;
}
.footer__inner-left p {
  width: 90%;
}
.footer__inner-middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__inner-right {
  gap: min(3rem, 10%);
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.footer__inner-right ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__inner-right li:nth-child(1) {
  color: var(--color-light-grey);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer__inner-right a {
  color: var(--color-white);
}

@media (max-width: 56rem) {
  .main button {
    overflow-y: hidden;
  }
  .main button span {
    height: 1rem;
  }
  .header__inner-right {
    z-index: var(--layer-level1);
    display: flex;
    position: fixed;
    inset: 0;
    transform: translateX(100%);
    background-color: var(--color-dark);
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    transition: transform var(--transition-main);
  }
  .header__inner-right.Active {
    transform: translateX(0);
  }
  .header__inner-burger {
    z-index: var(--layer-level2);
    height: 1rem;
    aspect-ratio: 2;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header__inner-burger span::before {
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-white);
    transition: transform var(--transition-main);
  }
  .header__inner-burger span::after {
    bottom: 0;
    right: 0;
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-white);
    transition: width, transform var(--transition-main);
  }
  .header__inner-burger.Active {
    height: 2rem;
    aspect-ratio: 1;
    position: fixed;
    top: 2rem;
    right: 1.25rem;
  }
  .header__inner-burger.Active span::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__inner-burger.Active span::after {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotate(45deg);
  }
  .about_us__grid {
    grid-template-columns: 1fr;
  }
  .about_us__grid-card {
    padding: 1rem;
  }
  .tools {
    grid-template-columns: 1fr;
  }
  .tools__left {
    padding-block: 10%;
  }
  .tools__left-inner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tools__left-inner p {
    width: 90%;
  }
  .footer__inner-mobile-up {
    align-items: center;
    flex-direction: column;
  }
  .footer__inner-mobile-middle {
    gap: 1rem;
  }
  .footer__inner-mobile-down {
    gap: 1rem;
  }
  .footer__inner-left {
    text-align: center;
    width: 90%;
    align-items: center;
    gap: 1rem;
  }
  .footer__inner-right {
    text-align: left;
    width: 90%;
    justify-content: center;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
